<!doctype html>
<html {{ site.language_attributes }} class="no-js">
<head>
    <meta charset="{{ site.charset }}">
    <title>
        {% if wp_title %}
            {{ wp_title }}
        {% else %}
            {{ site.name }}
        {% endif %}
    </title>

    <link href="{{ assetsPath }}/img/icons/favicon.ico" rel="shortcut icon">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{ function('wp_head') }}

</head>
<body class="{{ body_slug }} {{ body_class }} {{ post.type_article }}">

<!-- header -->
<header class="header" role="banner">

    <noscript class="browsehappy" style="display: block; font-size: small;">{{ __('Ce site nécessite Javascript pour fonctionner correctement. Merci de l\'activer puis rechargez cette page.','ac') }}</noscript>

    <!-- nav -->
    <nav class="main-menu" role="navigation">
        <!-- logo -->
        <div class="logo {% if isFrontPage %}active{% endif %}">
            <a href="{{ function('home_url') }}">
                <img src="{{ assetsPath }}/img/logo-royal-brightness.png" alt="" class="logo__img">
                <h1 class="logo__txt"> <span class="logo__txt--royal">Royal</span> <span class="logo__txt--brightness"> Brightness </span> <span class="logo__txt--baseline"> société de ménages professionnels </span> </h1>
            </a>
        </div>
        <!-- /logo -->

        <ul class="menu-items">
            {% for item in mainMenu.get_items %}
                <li class="nav-main-item {{ item.classes | join(' ') }}">
                    <a href="{{ item.get_link }}" class="{{ item.title == 'Adhérer' ? 'cta' : '' }}">
                        {{ item.title }}
                    </a>
                    {% if item.get_children %}
                        <ul class="sub-menu">
                            {% for child in item.get_children %}
                                <li>
                                    <a href="{{ child.get_link }}">
                                        {{ child.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

    </nav>
    <!-- /nav -->

    <nav class="mobile-menu">

        <div class="mobile-menu-bar">

            <div class="logo {% if isFrontPage %}active{% endif %}">
                <a href="{{ function('home_url') }}">
                    <img src="{{ assetsPath }}/img/icons/logo-icon.svg" alt="Working Equitation IDF" class="logo-img" width="53" height="80">
                    <span class="blue hide-mobile__inline">Working Equitation</span>
                    <span class="blue only-mobile__inline">WE</span>
                    <span class="red">IDF</span>
                </a>
            </div>

            <div class="buttons">
                <a href="{{ urlMembership }}" class="cta cta-red">
                    Adhérer
                </a>
                <a class="cta cta-white open-mobile-menu btn-tablet-menu">Menu</a>
                <a class="open-mobile-menu btn-mobile-menu"><img src="{{ assetsPath }}/img/icons/burger-icon.svg" alt="Menu"></a>
            </div>

        </div>

        <ul class="menu-items">
            {% for item in mobileMenu.get_items %}
                <li class="nav-main-item {{ item.classes | join(' ') }}">
                    <a href="{{ item.get_link }}">
                        {{ item.title }}
                    </a>

                    {% if item.get_children %}
                        <ul class="sub-menu">
                            {% for child in item.get_children %}
                                <li>
                                    <a href="{{ child.get_link }}">
                                        {{ child.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    </li>
            {% endfor %}
        </ul>

    </nav>

</header>
<!-- /header -->

<div class="main" role="main">

        {% block content %}

        {% endblock %}

</div>

<!-- footer -->
<footer class="footer" role="contentinfo">

    <!-- footer-1 -->
    <div class="footer-1">

        <div class="footer-widgets clear">
            
            <div class="widget logo">
                <img src="{{ assetsPath }}/img/royal-brightness-hotel-gold.png" alt="Logo Royal Brightness" />
                {{ options.presentation }}
            </div><!--
            --><div class="widget adress">
                <adress class="adress">
                    <img src="{{ assetsPath }}/img/icon-map-marker.jpg" alt="Adresse" />
                    <p> {{ options.adress }} </p>
                </adress>

                <div class="phone">
                    {{ options.phone }}
                </div>

            </div><!--
            -->
            {# {{ footerWidget1 }} #}
            {# {{ footerWidget2 }}
            {{ footerWidget3 }} #}


        </div>

    </div>
    <!-- /footer-1 -->

    <!-- copyright -->
    <div class="copyright">

        <div class="copyright-content clear">
            <p>
                &copy; {{ site.name }} 2015 - {{ "now"|date("Y") }}
            </p>
        </div>

    </div>
    <!-- /copyright -->

</footer>
<!-- /footer -->

<div class="mobile-menu-overlay"></div>

<div id="istablet"></div>
<div id="ismobile"></div>
{{ function('wp_footer') }}

</body>
</html>
