@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}

@mixin h2_titleLine($color_txt, $color_bg) {

	text-align: center;

	h2 {
		text-align: center;
		margin-top: 0;
		color: $color_txt;
		background-color: $color_bg;
		display: inline-block;
		padding: 0 20px;
		font-size: 34px;
		font-family: $font-gotham-black;
	}

	.title--line {
		height: 2px;
		background-color: $color_txt;
		margin-top: -55px;
		margin-bottom: 60px;
	}

}