/*=================================
=            FONT FACE            =
=================================*/

@font-face {
	font-family: 'Lato-Regular';
	src: url("../fonts/Lato-Regular.eot");
	src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype");
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Lato-Light';
	src: url("../fonts/Lato-Light.eot");
	src: url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.ttf") format("truetype"), url("../fonts/Lato-Light.eot?#iefix") format("embedded-opentype");
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Lato-Bold';
	src: url("../fonts/Lato-Bold.eot");
	src: url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/lato-black-webfont.ttf") format("truetype"), url("../fonts/Lato-Bold.eot?#iefix") format("embedded-opentype");
	font-style: normal;
	font-stretch: normal;
}

@font-face {
  font-family: 'PlayfairDisplay-Regular';
  src: url('../fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/PlayfairDisplay-Regular.woff') format('woff'), url('../fonts/PlayfairDisplay-Regular.ttf')  format('truetype'), url('../fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'PlayfairDisplay-Black';
  src: url('../fonts/PlayfairDisplay-Black.eot?#iefix') format('embedded-opentype'),  url('../fonts/PlayfairDisplay-Black.woff') format('woff'), url('../fonts/PlayfairDisplay-Black.ttf')  format('truetype'), url('../fonts/PlayfairDisplay-Black.svg#PlayfairDisplay-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'weidf-icons';
	src: url("../fonts/weidf-icons.eot");
	src: url("../fonts/weidf-icons.woff") format("woff"), url("../fonts/weidf-icons.ttf") format("truetype"), url("../fonts/weidf-icons.eot?#iefix") format("embedded-opentype"), url("../fonts/weidf-icons.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}



/*==================================
=      ROYAL BRIGHTNESS ICONS      =
==================================*/

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'weidf-icons' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
	content: "\e90d";
}

.icon-check:before {
	content: "\e90b";
}

.icon-warning:before {
	content: "\e90c";
}

.icon-chevron-thin-right:before {
	content: "\e909";
}

.icon-chevron-thin-left:before {
	content: "\e90a";
}

.icon-mail:before {
	content: "\e908";
}

.icon-trophy:before {
	content: "\e905";
}

.icon-helmet:before {
	content: "\e906";
}

.icon-horse:before {
	content: "\e907";
}

.icon-cb:before {
	content: "\e902";
}

.icon-cheque:before {
	content: "\e903";
}

.icon-paypal:before {
	content: "\e904";
}

.icon-facebook:before {
	content: "\e900";
}

.icon-instagram:before {
	content: "\e901";
}

/*==============================
=            TITLES            =
==============================*/


/*===========================
=            CTA            =
===========================*/
.cta {
	
}

