{% extends "base.twig" %}

{% block content %}

    <!-- TOP OF HOME -->
    <div class="top-home" style="background-image: url('{{ header.background.url }}');">

        <div class="title">
            <h1 class="head-title">{{ header.title }}</h1>
        </div>

        <div class="baseline">
            <h2> {{ header.baseline }} </h2>
        </div>

    </div>
    
    <!-- SERVICES -->
    <div class="services">

        <div class="services__title">
            <h2> {{ services_title }} </h2>
            <div class="title--line"></div>
        </div>

        <div class="services__wrapper">
            {% for service in services %}
                <a href="{{ service.link }}">
                    <div class="service">
                        <div class="service__title">
                            <h3> {{ service.title}} </h3>
                        </div>

                        <div class="service__img">
                            <img src="{{ service.image.url }}" alt="{{ service.image.alt }}">
                            <div class="deco"></div>
                            <div class="service__img--more">
                                <span class="fi flaticon-more"></span>
                            </div>
                        </div>
                        
                    </div>
                </a>
            {% endfor %}
        </div>

    </div> 

    <!-- POURQUOI NOUS -->
    <div class="arguments">

        <div class="arguments__title">
            <h2> {{ arguments_title }} </h2>
            <div class="title--line"></div>
        </div>

        {% for argument in arguments %}

            <div class="argument">

                {% if loop.index is even %}

                    <div class="argument__img" 
                         style="background-image: url('{{ argument.image.url }}');">
                    </div>
                    
                {% endif %}

                <div class="argument__txt">

                    <div class="argument__txt--title">
                        <h3> {{ argument.title }} </h3>
                    </div>

                    <div class="argument__txt--desc">
                        <p> {{ argument.desc }} </p>
                    </div>

                    <div class="argument__txt--cta">
                        <a href="{{ argument.url }}"> {{ argument.cta }} </a>
                    </div>

                </div>

                {% if loop.index is odd %}

                    <div class="argument__img" 
                         style="background-image: url('{{ argument.image.url }}');">
                    </div>

                {% endif %}

            </div>

        {% endfor %}

    </div>

{% endblock %}