{% extends "base.twig" %}

{% block content %}

    <div class="subheader" style="background-image:url({{header.background.url}});">

        <h2 class="subheader--title"> {{ header.title }} </h2>

    </div>

   

    <!-- CONTENT -->
    <div class="content page-container">

        <div class="content--title">

            <h2> {{content.title}} </h2>
            <div class="title--line"></div>

        </div>

        {{ content.text }}

    </div>

    <!-- PRESTATIONS -->
    <div class="prestations">

        <div class="page-container">

            <div class="prestations--title">
                <h2> {{ prestations_title }} </h2>
                <div class="title--line"></div>
            </div>

            {% for prestation in prestations %}

            <div class="prestation">
                <h4 class="prestation__content"> {{ prestation.content }}
            </div>

            {% endfor %}

        </div>

    </div>



{% endblock %}