/*==============================
=            FOOTER            =
==============================*/

.footer-1 {
	background: $color-dark-grey;
	padding: 25px 20px;
}

.footer-widgets {
	max-width: 1280px;
	margin: auto;

	@include breakpoint(tablet) {
		max-width: 688px;
	}

	@include breakpoint(mobile) {
		padding: 0 20px;
		max-width: 320px;
	}


	.widget {
		display: inline-block;
		vertical-align: middle;
		width: 22%;
		margin-right: 4%;
		text-align: center;
		font-family: $font-lato-regular;
		color: white;

		@include breakpoint(tablet) {
			width: em(118px);
			margin-right: em(30px);
		}

		@include breakpoint(mobile) {
			width: 100px;
			margin-right: 0;
		}

		&.widget_nav_menu {
			padding-left: em(47px, 13px);
			font-size: em(13px);
			text-transform: uppercase;

			ul li {
				margin-bottom: em(15px, 13px);
			}

			@include breakpoint(tablet) {
				width: em(138px);
				padding-left: 0;
			}

			@include breakpoint(mobile) {
				display: none;
			}
		}

		&#text-2 {

			@include breakpoint(tablet) {
				width: em(180px);
			}

			@include breakpoint(mobile) {

				padding-left: em(15px);
				h3 {
					display: none;
				}
			}
		}

		&#text-3 {
			@include breakpoint(mobile) {
				width: 100%;
				margin-top: em(20px);
				text-align: center;
			}
		}

		&:last-child {
			margin-right: 0;
		}

		h3 {
			text-transform: uppercase;
			font-size: em(13px);
			margin-bottom: 10px;
		}

		p {
			font-size: em(15px);
		}

		.icon {
			font-size: em(40px);
			margin-right: em(15px, 40px);
		}

	}

}

.copyright {
	padding: em(10px, 16px) 0;
	font-family: $font-lato-light;
	font-size: em(16px);
	color: #fff;
	background: $color-gold;

	&-content {
		max-width: 984px;
		margin: auto;
		text-align: center;
		
		@include breakpoint(tablet) {
			max-width: 688px;
		}

		@include breakpoint(mobile) {
			padding: 0 20px;
		}
	}

	p {
		display: inline;
		font-style: italic;
	}

	a {
		float: right;
		color: #fff;
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
	}
}

/* Credits odal */

.remodal-close {
	left: auto;
	right: 0;
}

.remodal {
	max-width: 400px;

	p {
		font-family: $font-lato-regular;
		font-size: 1.2em;
		margin-bottom: 1em;
	}

	img {
		max-width: 100%;
	}

	@include breakpoint(mobile) {

	}
}