/*==============================
=            HEADER            =
==============================*/

header.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #fff;
	z-index: 100;
	height: $height-nav;
	box-shadow: 2px 2px 2px $color-gold;
	padding: 0 25px;

	@include breakpoint(tablet) {
		height: em(80px);
	}

	@include breakpoint(mobile) {
		height: em(60px);
	}
}

noscript.browsehappy {
	background-color: $color-blue;
	color: white;
	font-family: $font-lato-bold;
	height: 51px;
	line-height: 51px;
}

.main-menu {
	height: em(90px);
	max-width: 1280px;
	margin: auto;
	padding-top: em(10px);

	@include breakpoint(tablet) {
		display: none;
	}

	.logo {
	
		display: inline-block;

		&__img {
			width: em(125px);
			height: 100%;
			vertical-align: middle;
			padding: 1.01em 0;
			display: inline-block;
			vertical-align: top;
		}

		&__txt {
			display: inline-block;
			vertical-align: top;
			line-height: 0.9;
    		margin-top: 13px;
    		margin-left: 10px;

    		span {
    			display: block;
    		}

    		&--royal {
    			font-family: $font-playfair-black;
    			color: black;
    		}

    		&--brightness {
    			color: #cfb17e;
    			font-family: $font-playfair-black;
    		}

    		&--baseline {
    			font-family: $font-lato-regular;
			    font-size: 11px;
			    color: black;
			    line-height: 1.8;
    		}
		}
	}


	> ul {
		display: inline-block;
		height: 100%;
		vertical-align: top;
		float: right;
	}

	> ul > li {
		display: inline-block;
		border-bottom: 2px solid transparent;
		margin-left: 30px;

		// Active state
		&.current_page_item,
		&.current-menu-ancestor {
			border-bottom-color: $color-gold;
		}

		&:first-child {
			margin-left: 40px;
		}

		&:last-child {
			border: 0;

			a {
				@extend .cta;
				@extend .cta-red;
				vertical-align: middle;
			}
		}
	}

	li a {
		display: block;
		padding: 1.5em 0 0;
		font-family: $font-lato-regular;
		text-transform: uppercase;
		font-size: 14px;
		text-decoration: none;
		color: #000;

		&:hover {
			color: $color-gold;

			+ .sub-menu {
				height: auto;
				overflow: visible;
			}
		}
	}

	.sub-menu {
		display: block;
		position: absolute;
		padding: 12px 11px;
		margin-left: - 10px;
		background: #fff;
		z-index: 99;

		&:not(:hover) {
			height: 0px;
			overflow: hidden;
		}

		li {
			text-align: left;
			list-style-type: none;
		}

		li a {
			padding: 10px 0;
		}
	}

}

.mobile-menu {
	display: none;
	text-align: left;
	height: em(80px);

	&-bar {
		max-width: 688px;
		margin: auto;
		@include breakpoint(mobile) {
			padding: 0 20px;
		}
	}

	@include breakpoint(tablet) {
		display: block;
	}

	@include breakpoint(mobile) {
		height: em(60px);
	}

	.logo {
		display: inline-block;
		font-family: $font-gotham-bold;
		font-size: em(20px);
		text-transform: uppercase;

		&-img {
			display: inline-block;
			vertical-align: middle;

			@include breakpoint(mobile) {
				width: 44px;
				height: 60px;
			}
		}

		span {
			font-size: em(10px);
		}

		.blue {
			color: $color-blue;
		}

		.red {
			color: $color-red;
			@include breakpoint(mobile) {
				margin-left: -5px;
			}
		}

		&.active .logo-img {
			border-bottom: 3px solid $color-red;
		}
	}

	.buttons {
		display: inline-block;
		float: right;
		padding: em(17px) 0;

		@include breakpoint(mobile) {
			padding: em(10px) 0;
		}

		a.cta {
			padding: 11px 25px;
		}

		a.cta-red {
			margin-right: em(5px);

			@include breakpoint(mobile) {
				padding: 10px 12px;
				min-height: initial;
			}

		}

		a.cta-white {
			border: 1px solid $color-blue;
		}

		.btn-mobile-menu {

			vertical-align: top;
			display: inline-block;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			border: 2px solid $color-blue;
			line-height: 40px;
			text-align: center;

			@include breakpoint(tablet) {
				display: none;
			}

			@include breakpoint(mobile) {
				display: inline-block;
			}
		}

		.btn-tablet-menu {
			@include breakpoint(mobile) {
				display: none;
			}
		}

	}

	.menu-items {
		width: 100%;
		max-height: calc(100vh - 50px);
		background: #fff;
		text-align: center;
		text-transform: uppercase;
		font-size: em(20px);
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		position: absolute;

		transform: scaleY(0);
		transform-origin: 50% 0;
		transition: transform ease 0.3s;

		&.menu-open {
			transform: scaleY(1);
		}

		li {
			border-bottom: 1px solid $color-grey;
		}

		a {
			display: block;
			padding: 1em 0;
		}

	}

	.sub-menu {

		li {
			border: none;
		}

		a {
			font-size: 0.8em;
			padding: 0 0.5em;

			&:first-child {
				padding-top: 0;
			}

			&:last-child {
				padding-bottom: 1em;
			}
		}
	}
}

.mobile-menu-overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(#fff, 0.5);
	opacity: 0;

	@include breakpoint(tablet) {
		opacity: 1;
	}
}

/*==============================
=         BREADCRUMB           =
==============================*/

.breadcrumb {

	background-color: $color-grey;
	position: fixed;
	width: 100%;
	z-index: 9;

	ul {
		max-width: em(984px);
		margin: auto;
		padding: em(15px) 0;

		@include breakpoint(tablet) {
			max-width: em(688px);
		}

		@include breakpoint(mobile) {
			padding: 10px 20px;
			text-overflow: ellipsis;
			overflow: hidden;
			height: 45px;
			width: 100%;
			white-space: nowrap;
		}
	}

	ul li {
		display: inline;
		font-family: $font-lato-regular;
		font-size: em(13px);
		color: $color-blue;

		&:not(:last-child):after {
			content: ">";
			margin-left: em(5px);
		}
	}

	ul li a:hover {
		text-decoration: underline;
	}

}
