body {
    font-family: $font-lato-regular, $font-arial, sans-serif;
    overflow-x: hidden;
    font-size: $default-font-size;
    line-height: 1.6;

	// @TODO delete
	// min-width: 1280px;
	// overflow: scroll;

	&.overflow-hidden {
		overflow: hidden;
	}
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $color-blue;
}

address {
    font-style: normal;
}

.main {
    margin-top: $height-nav;
}

.clear {
    @include clearfix();
}

/*==================================
=            SUB HEADER            =
==================================*/

$height-subheader : 140px;
.subheader {

    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: $height-subheader;


    &--title {
        color: white;
        font-size: 2.5em;
        margin: 0 auto;
        text-shadow: 1px 1px 1px black;
        text-transform: uppercase;
        line-height: $height-subheader;
    }

}

.page-container {
    width: 80%;
    max-width: 1200px;
    //padding: 0 40px;
    margin: 0 auto;
}

// Responsive Helpers
#ismobile {
    display: none;
    @include breakpoint(mobile) {
        display: block;
    }
}

#istablet {
    display: none;
    @include breakpoint(tablet) {
        display: block;
    }
}


/*====================================
=            SITE WRAPPER            =
====================================*/

.container {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
}

.page-container {
    max-width: 818px;
    margin: auto;

    @include breakpoint(tablet) {
        max-width: 688px;
    }
}

.start-content {

    margin-top: em(100px);

    @include breakpoint(tablet) {
        margin-top: em(80px);
    }

    @include breakpoint(mobile) {
        margin-top: em(60px);
    }

}