/*=============================
=            PATHS            =
=============================*/
/*=============================
=            FONTS            =
=============================*/
/*==============================
=            COLORS            =
==============================*/
/*===================================
=            BREAKPOINTS            =
===================================*/
/*===================================
=           VARIOUS VALUES          =
===================================*/
/*============================
=            CORE            =
============================*/
/*===============================
=            HELPERS            =
===============================*/
/*===============================
=            VENDORS            =
===============================*/
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
  padding: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  z-index: 1; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  outline: none;
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* ==========================================================================
   Remodal's necessary styles
   ========================================================================== */
/* Hide scroll bar */
html.remodal-is-locked {
  overflow: hidden;
  touch-action: none; }

/* Anti FOUC */
.remodal,
[data-remodal-id] {
  display: none; }

/* Necessary styles of the overlay */
.remodal-overlay {
  position: fixed;
  z-index: 9999;
  top: -5000px;
  right: -5000px;
  bottom: -5000px;
  left: -5000px;
  display: none; }

/* Necessary styles of the wrapper */
.remodal-wrapper {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  overflow: auto;
  text-align: center;
  -webkit-overflow-scrolling: touch; }

.remodal-wrapper:after {
  display: inline-block;
  height: 100%;
  margin-left: -0.05em;
  content: ""; }

/* Fix iPad, iPhone glitches */
.remodal-overlay,
.remodal-wrapper {
  backface-visibility: hidden; }

/* Necessary styles of the modal dialog */
.remodal {
  position: relative;
  outline: none;
  text-size-adjust: 100%; }

.remodal-is-initialized {
  /* Disable Anti-FOUC */
  display: inline-block; }

/* ==========================================================================
   Remodal's default mobile first theme
   ========================================================================== */
/* Default theme styles for the background */
.remodal-bg.remodal-is-opening,
.remodal-bg.remodal-is-opened {
  filter: blur(3px); }

/* Default theme styles of the overlay */
.remodal-overlay {
  background: rgba(43, 46, 56, 0.9); }

.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing {
  animation-duration: 0.3s;
  animation-fill-mode: forwards; }

.remodal-overlay.remodal-is-opening {
  animation-name: remodal-overlay-opening-keyframes; }

.remodal-overlay.remodal-is-closing {
  animation-name: remodal-overlay-closing-keyframes; }

/* Default theme styles of the wrapper */
.remodal-wrapper {
  padding: 10px 10px 0; }

/* Default theme styles of the modal dialog */
.remodal {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  padding: 35px;
  transform: translate3d(0, 0, 0);
  color: #2b2e38;
  background: #fff; }

.remodal.remodal-is-opening,
.remodal.remodal-is-closing {
  animation-duration: 0.3s;
  animation-fill-mode: forwards; }

.remodal.remodal-is-opening {
  animation-name: remodal-opening-keyframes; }

.remodal.remodal-is-closing {
  animation-name: remodal-closing-keyframes; }

/* Vertical align of the modal dialog */
.remodal,
.remodal-wrapper:after {
  vertical-align: middle; }

/* Close button */
.remodal-close {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  overflow: visible;
  width: 35px;
  height: 35px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: color 0.2s;
  text-decoration: none;
  color: #95979c;
  border: 0;
  outline: 0;
  background: transparent; }

.remodal-close:hover,
.remodal-close:focus {
  color: #2b2e38; }

.remodal-close:before {
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
  font-size: 25px;
  line-height: 35px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 35px;
  content: "\00d7";
  text-align: center; }

/* Dialog buttons */
.remodal-confirm,
.remodal-cancel {
  font: inherit;
  display: inline-block;
  overflow: visible;
  min-width: 110px;
  margin: 0;
  padding: 12px 0;
  cursor: pointer;
  transition: background 0.2s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border: 0;
  outline: 0; }

.remodal-confirm {
  color: #fff;
  background: #81c784; }

.remodal-confirm:hover,
.remodal-confirm:focus {
  background: #66bb6a; }

.remodal-cancel {
  color: #fff;
  background: #e57373; }

.remodal-cancel:hover,
.remodal-cancel:focus {
  background: #ef5350; }

/* Remove inner padding and border in Firefox 4+ for the button tag. */
.remodal-confirm::-moz-focus-inner,
.remodal-cancel::-moz-focus-inner,
.remodal-close::-moz-focus-inner {
  padding: 0;
  border: 0; }

/* Keyframes
   ========================================================================== */
@keyframes remodal-opening-keyframes {
  from {
    transform: scale(1.05);
    opacity: 0; }
  to {
    transform: none;
    opacity: 1; } }

@keyframes remodal-closing-keyframes {
  from {
    transform: scale(1);
    opacity: 1; }
  to {
    transform: scale(0.95);
    opacity: 0; } }

@keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

/* Media queries
   ========================================================================== */
@media only screen and (min-width: 641px) {
  .remodal {
    max-width: 700px; } }

/* IE8
   ========================================================================== */
.lt-ie9 .remodal-overlay {
  background: #2b2e38; }

.lt-ie9 .remodal {
  width: 700px; }

/*==================================
=            COMPONENTS            =
==================================*/
/*=================================
=            FONT FACE            =
=================================*/
@font-face {
  font-family: 'Lato-Regular';
  src: url("../fonts/Lato-Regular.eot");
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype");
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'Lato-Light';
  src: url("../fonts/Lato-Light.eot");
  src: url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.ttf") format("truetype"), url("../fonts/Lato-Light.eot?#iefix") format("embedded-opentype");
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'Lato-Bold';
  src: url("../fonts/Lato-Bold.eot");
  src: url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/lato-black-webfont.ttf") format("truetype"), url("../fonts/Lato-Bold.eot?#iefix") format("embedded-opentype");
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'PlayfairDisplay-Regular';
  src: url("../fonts/PlayfairDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplay-Regular.woff") format("woff"), url("../fonts/PlayfairDisplay-Regular.ttf") format("truetype"), url("../fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PlayfairDisplay-Black';
  src: url("../fonts/PlayfairDisplay-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplay-Black.woff") format("woff"), url("../fonts/PlayfairDisplay-Black.ttf") format("truetype"), url("../fonts/PlayfairDisplay-Black.svg#PlayfairDisplay-Black") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'weidf-icons';
  src: url("../fonts/weidf-icons.eot");
  src: url("../fonts/weidf-icons.woff") format("woff"), url("../fonts/weidf-icons.ttf") format("truetype"), url("../fonts/weidf-icons.eot?#iefix") format("embedded-opentype"), url("../fonts/weidf-icons.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/*==================================
=      ROYAL BRIGHTNESS ICONS      =
==================================*/
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'weidf-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-menu:before {
  content: "\e90d"; }

.icon-check:before {
  content: "\e90b"; }

.icon-warning:before {
  content: "\e90c"; }

.icon-chevron-thin-right:before {
  content: "\e909"; }

.icon-chevron-thin-left:before {
  content: "\e90a"; }

.icon-mail:before {
  content: "\e908"; }

.icon-trophy:before {
  content: "\e905"; }

.icon-helmet:before {
  content: "\e906"; }

.icon-horse:before {
  content: "\e907"; }

.icon-cb:before {
  content: "\e902"; }

.icon-cheque:before {
  content: "\e903"; }

.icon-paypal:before {
  content: "\e904"; }

.icon-facebook:before {
  content: "\e900"; }

.icon-instagram:before {
  content: "\e901"; }

/*==============================
=            TITLES            =
==============================*/
/*===========================
=            CTA            =
===========================*/
/*
Flaticon icon font: Flaticon
Creation date: 11/10/2016 23:59
*/
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/Flaticon.woff") format("woff"), url("../fonts/Flaticon.ttf") format("truetype"), url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg"); } }

.fi:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.flaticon-down-arrow:before {
  content: "\f100"; }

.flaticon-more:before {
  content: "\f101"; }

/*==============================
=            LAYOUT            =
==============================*/
body {
  font-family: "Lato-Regular", "Arial", sans-serif;
  overflow-x: hidden;
  font-size: 14px;
  line-height: 1.6; }
  body.overflow-hidden {
    overflow: hidden; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #233160; }

address {
  font-style: normal; }

.main {
  margin-top: 90px; }

.clear:before, .clear:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clear:after {
  clear: both; }

/*==================================
=            SUB HEADER            =
==================================*/
.subheader {
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 140px; }
  .subheader--title {
    color: white;
    font-size: 2.5em;
    margin: 0 auto;
    text-shadow: 1px 1px 1px black;
    text-transform: uppercase;
    line-height: 140px; }

.page-container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto; }

#ismobile {
  display: none; }
  @media (max-width: 767px) {
    #ismobile {
      display: block; } }

#istablet {
  display: none; }
  @media (max-width: 1023px) {
    #istablet {
      display: block; } }

/*====================================
=            SITE WRAPPER            =
====================================*/
.container {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto; }

.page-container {
  max-width: 818px;
  margin: auto; }
  @media (max-width: 1023px) {
    .page-container {
      max-width: 688px; } }

.start-content {
  margin-top: em(100px); }
  @media (max-width: 1023px) {
    .start-content {
      margin-top: em(80px); } }
  @media (max-width: 767px) {
    .start-content {
      margin-top: em(60px); } }

/*==============================
=            HEADER            =
==============================*/
header.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 100;
  height: 90px;
  box-shadow: 2px 2px 2px #cfb17e;
  padding: 0 25px; }
  @media (max-width: 1023px) {
    header.header {
      height: em(80px); } }
  @media (max-width: 767px) {
    header.header {
      height: em(60px); } }

noscript.browsehappy {
  background-color: #233160;
  color: white;
  font-family: "Lato-Bold";
  height: 51px;
  line-height: 51px; }

.main-menu {
  height: em(90px);
  max-width: 1280px;
  margin: auto;
  padding-top: em(10px); }
  @media (max-width: 1023px) {
    .main-menu {
      display: none; } }
  .main-menu .logo {
    display: inline-block; }
    .main-menu .logo__img {
      width: em(125px);
      height: 100%;
      vertical-align: middle;
      padding: 1.01em 0;
      display: inline-block;
      vertical-align: top; }
    .main-menu .logo__txt {
      display: inline-block;
      vertical-align: top;
      line-height: 0.9;
      margin-top: 13px;
      margin-left: 10px; }
      .main-menu .logo__txt span {
        display: block; }
      .main-menu .logo__txt--royal {
        font-family: "PlayfairDisplay-Black";
        color: black; }
      .main-menu .logo__txt--brightness {
        color: #cfb17e;
        font-family: "PlayfairDisplay-Black"; }
      .main-menu .logo__txt--baseline {
        font-family: "Lato-Regular";
        font-size: 11px;
        color: black;
        line-height: 1.8; }
  .main-menu > ul {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    float: right; }
  .main-menu > ul > li {
    display: inline-block;
    border-bottom: 2px solid transparent;
    margin-left: 30px; }
    .main-menu > ul > li.current_page_item, .main-menu > ul > li.current-menu-ancestor {
      border-bottom-color: #cfb17e; }
    .main-menu > ul > li:first-child {
      margin-left: 40px; }
    .main-menu > ul > li:last-child {
      border: 0; }
      .main-menu > ul > li:last-child a {
        vertical-align: middle; }
  .main-menu li a {
    display: block;
    padding: 1.5em 0 0;
    font-family: "Lato-Regular";
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    color: #000; }
    .main-menu li a:hover {
      color: #cfb17e; }
      .main-menu li a:hover + .sub-menu {
        height: auto;
        overflow: visible; }
  .main-menu .sub-menu {
    display: block;
    position: absolute;
    padding: 12px 11px;
    margin-left: -10px;
    background: #fff;
    z-index: 99; }
    .main-menu .sub-menu:not(:hover) {
      height: 0px;
      overflow: hidden; }
    .main-menu .sub-menu li {
      text-align: left;
      list-style-type: none; }
    .main-menu .sub-menu li a {
      padding: 10px 0; }

.mobile-menu {
  display: none;
  text-align: left;
  height: em(80px); }
  .mobile-menu-bar {
    max-width: 688px;
    margin: auto; }
    @media (max-width: 767px) {
      .mobile-menu-bar {
        padding: 0 20px; } }
  @media (max-width: 1023px) {
    .mobile-menu {
      display: block; } }
  @media (max-width: 767px) {
    .mobile-menu {
      height: em(60px); } }
  .mobile-menu .logo {
    display: inline-block;
    font-family: "Gotham-Bold";
    font-size: em(20px);
    text-transform: uppercase; }
    .mobile-menu .logo-img {
      display: inline-block;
      vertical-align: middle; }
      @media (max-width: 767px) {
        .mobile-menu .logo-img {
          width: 44px;
          height: 60px; } }
    .mobile-menu .logo span {
      font-size: em(10px); }
    .mobile-menu .logo .blue {
      color: #233160; }
    .mobile-menu .logo .red {
      color: #dd1737; }
      @media (max-width: 767px) {
        .mobile-menu .logo .red {
          margin-left: -5px; } }
    .mobile-menu .logo.active .logo-img {
      border-bottom: 3px solid #dd1737; }
  .mobile-menu .buttons {
    display: inline-block;
    float: right;
    padding: em(17px) 0; }
    @media (max-width: 767px) {
      .mobile-menu .buttons {
        padding: em(10px) 0; } }
    .mobile-menu .buttons a.cta, .mobile-menu .buttons .main-menu > ul > li:last-child a, .main-menu > ul > li:last-child .mobile-menu .buttons a {
      padding: 11px 25px; }
    .mobile-menu .buttons a.cta-red, .mobile-menu .buttons .main-menu > ul > li:last-child a, .main-menu > ul > li:last-child .mobile-menu .buttons a {
      margin-right: em(5px); }
      @media (max-width: 767px) {
        .mobile-menu .buttons a.cta-red, .mobile-menu .buttons .main-menu > ul > li:last-child a, .main-menu > ul > li:last-child .mobile-menu .buttons a {
          padding: 10px 12px;
          min-height: initial; } }
    .mobile-menu .buttons a.cta-white {
      border: 1px solid #233160; }
    .mobile-menu .buttons .btn-mobile-menu {
      vertical-align: top;
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 2px solid #233160;
      line-height: 40px;
      text-align: center; }
      @media (max-width: 1023px) {
        .mobile-menu .buttons .btn-mobile-menu {
          display: none; } }
      @media (max-width: 767px) {
        .mobile-menu .buttons .btn-mobile-menu {
          display: inline-block; } }
    @media (max-width: 767px) {
      .mobile-menu .buttons .btn-tablet-menu {
        display: none; } }
  .mobile-menu .menu-items {
    width: 100%;
    max-height: calc(100vh - 50px);
    background: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: em(20px);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    transform: scaleY(0);
    transform-origin: 50% 0;
    transition: transform ease 0.3s; }
    .mobile-menu .menu-items.menu-open {
      transform: scaleY(1); }
    .mobile-menu .menu-items li {
      border-bottom: 1px solid #ebecee; }
    .mobile-menu .menu-items a {
      display: block;
      padding: 1em 0; }
  .mobile-menu .sub-menu li {
    border: none; }
  .mobile-menu .sub-menu a {
    font-size: 0.8em;
    padding: 0 0.5em; }
    .mobile-menu .sub-menu a:first-child {
      padding-top: 0; }
    .mobile-menu .sub-menu a:last-child {
      padding-bottom: 1em; }

.mobile-menu-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0; }
  @media (max-width: 1023px) {
    .mobile-menu-overlay {
      opacity: 1; } }

/*==============================
=         BREADCRUMB           =
==============================*/
.breadcrumb {
  background-color: #ebecee;
  position: fixed;
  width: 100%;
  z-index: 9; }
  .breadcrumb ul {
    max-width: em(984px);
    margin: auto;
    padding: em(15px) 0; }
    @media (max-width: 1023px) {
      .breadcrumb ul {
        max-width: em(688px); } }
    @media (max-width: 767px) {
      .breadcrumb ul {
        padding: 10px 20px;
        text-overflow: ellipsis;
        overflow: hidden;
        height: 45px;
        width: 100%;
        white-space: nowrap; } }
  .breadcrumb ul li {
    display: inline;
    font-family: "Lato-Regular";
    font-size: em(13px);
    color: #233160; }
    .breadcrumb ul li:not(:last-child):after {
      content: ">";
      margin-left: em(5px); }
  .breadcrumb ul li a:hover {
    text-decoration: underline; }

/*==============================
=            FOOTER            =
==============================*/
.footer-1 {
  background: #181819;
  padding: 25px 20px; }

.footer-widgets {
  max-width: 1280px;
  margin: auto; }
  @media (max-width: 1023px) {
    .footer-widgets {
      max-width: 688px; } }
  @media (max-width: 767px) {
    .footer-widgets {
      padding: 0 20px;
      max-width: 320px; } }
  .footer-widgets .widget {
    display: inline-block;
    vertical-align: middle;
    width: 22%;
    margin-right: 4%;
    text-align: center;
    font-family: "Lato-Regular";
    color: white; }
    @media (max-width: 1023px) {
      .footer-widgets .widget {
        width: em(118px);
        margin-right: em(30px); } }
    @media (max-width: 767px) {
      .footer-widgets .widget {
        width: 100px;
        margin-right: 0; } }
    .footer-widgets .widget.widget_nav_menu {
      padding-left: em(47px, 13px);
      font-size: em(13px);
      text-transform: uppercase; }
      .footer-widgets .widget.widget_nav_menu ul li {
        margin-bottom: em(15px, 13px); }
      @media (max-width: 1023px) {
        .footer-widgets .widget.widget_nav_menu {
          width: em(138px);
          padding-left: 0; } }
      @media (max-width: 767px) {
        .footer-widgets .widget.widget_nav_menu {
          display: none; } }
    @media (max-width: 1023px) {
      .footer-widgets .widget#text-2 {
        width: em(180px); } }
    @media (max-width: 767px) {
      .footer-widgets .widget#text-2 {
        padding-left: em(15px); }
        .footer-widgets .widget#text-2 h3 {
          display: none; } }
    @media (max-width: 767px) {
      .footer-widgets .widget#text-3 {
        width: 100%;
        margin-top: em(20px);
        text-align: center; } }
    .footer-widgets .widget:last-child {
      margin-right: 0; }
    .footer-widgets .widget h3 {
      text-transform: uppercase;
      font-size: em(13px);
      margin-bottom: 10px; }
    .footer-widgets .widget p {
      font-size: em(15px); }
    .footer-widgets .widget .icon {
      font-size: em(40px);
      margin-right: em(15px, 40px); }

.copyright {
  padding: em(10px, 16px) 0;
  font-family: "Lato-Light";
  font-size: em(16px);
  color: #fff;
  background: #cfb17e; }
  .copyright-content {
    max-width: 984px;
    margin: auto;
    text-align: center; }
    @media (max-width: 1023px) {
      .copyright-content {
        max-width: 688px; } }
    @media (max-width: 767px) {
      .copyright-content {
        padding: 0 20px; } }
  .copyright p {
    display: inline;
    font-style: italic; }
  .copyright a {
    float: right;
    color: #fff;
    cursor: pointer; }
    .copyright a:hover {
      text-decoration: underline; }

/* Credits odal */
.remodal-close {
  left: auto;
  right: 0; }

.remodal {
  max-width: 400px; }
  .remodal p {
    font-family: "Lato-Regular";
    font-size: 1.2em;
    margin-bottom: 1em; }
  .remodal img {
    max-width: 100%; }

/*============================
=            PAGE            =
============================*/
body.home h2 {
  font-family: "PlayfairDisplay-Black";
  font-size: 34px; }

body.home .top-home {
  margin-top: 90px;
  min-height: 400px;
  background-size: cover;
  background-repeat: no-repeat; }
  body.home .top-home .title {
    text-align: center;
    padding-top: 60px;
    max-width: 600px;
    margin: 0 auto; }
    body.home .top-home .title h1 {
      color: white;
      font-size: 2.5em;
      margin: 0 auto;
      text-shadow: 1px 1px 1px black;
      text-transform: uppercase; }
  body.home .top-home .baseline {
    width: 590px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(206, 177, 125, 0.7); }
    body.home .top-home .baseline h2 {
      color: #FFF; }

body.home .services {
  background-color: #cfb17e;
  padding: 20px 10px;
  text-align: center; }
  body.home .services__title {
    text-align: center; }
    body.home .services__title h2 {
      text-align: center;
      margin-top: 0;
      color: white;
      background-color: #cfb17e;
      display: inline-block;
      padding: 0 20px;
      font-size: 34px;
      font-family: "Gotham-Black"; }
    body.home .services__title .title--line {
      height: 2px;
      background-color: white;
      margin-top: -55px;
      margin-bottom: 60px; }
  body.home .services__wrapper {
    text-align: justify;
    max-width: 900px;
    margin: 0 auto; }
    body.home .services__wrapper::after {
      content: '';
      width: 100%;
      /* Ensures there are at least 2 lines of text, so justification works */
      display: inline-block; }

body.home .service {
  width: 250px;
  display: inline-block;
  position: relative; }
  body.home .service__title {
    background-color: white; }
    body.home .service__title h3 {
      margin: 0;
      text-align: center;
      color: #cfb17e;
      font-weight: normal;
      text-transform: uppercase;
      font-size: 14px;
      padding: 12px 0; }
  body.home .service__img {
    position: relative; }
    body.home .service__img img {
      max-width: 100%; }
    body.home .service__img:hover .service__img--more {
      border: 1px solid white;
      background: rgba(255, 255, 255, 0.4); }
    body.home .service__img:hover .deco {
      opacity: 1;
      background: rgba(0, 0, 0, 0.7);
      width: 100%;
      height: 100%; }
    body.home .service__img--more {
      width: 100px;
      height: 100px;
      line-height: 100px;
      position: absolute;
      top: 50%;
      left: 50%;
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      border: 1px solid rgba(255, 255, 255, 0);
      text-align: center;
      background: rgba(255, 255, 255, 0);
      -moz-transition: border 0.8s ease, background 0.3s ease;
      -o-transition: border 0.8s ease, background 0.3s ease;
      -webkit-transition: border 0.8s ease, background 0.3s ease;
      transition: border 0.8s ease, background 0.3s ease; }
      body.home .service__img--more span {
        color: #cfb17e;
        font-size: 60px; }
    body.home .service__img .deco {
      width: 0px;
      height: 0px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      border: 1px solid white;
      background: transparent;
      -moz-transition: background 0.6s ease, transform 1s ease, width 0.6s ease, height 0.6s ease;
      -o-transition: background 0.6s ease, transform 1s ease, width 0.6s ease, height 0.6s ease;
      -webkit-transition: background 0.6s ease, transform 1s ease, width 0.6s ease, height 0.6s ease;
      transition: background 0.6s ease, transform 1s ease, width 0.6s ease, height 0.6s ease; }

body.home .arguments {
  text-align: center;
  margin-bottom: 50px;
  padding: 20px 0; }
  body.home .arguments__title {
    text-align: center; }
    body.home .arguments__title h2 {
      text-align: center;
      margin-top: 0;
      color: black;
      background-color: white;
      display: inline-block;
      padding: 0 20px;
      font-size: 34px;
      font-family: "Gotham-Black"; }
    body.home .arguments__title .title--line {
      height: 2px;
      background-color: black;
      margin-top: -55px;
      margin-bottom: 60px; }

body.home .argument {
  text-align: initial;
  max-width: 900px;
  margin: 0 auto;
  white-space: nowrap; }
  body.home .argument__txt, body.home .argument__img {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    white-space: normal; }
  body.home .argument__img {
    height: 250px;
    background-size: cover; }
    body.home .argument__img:nth-child(odd) {
      margin-right: -2px; }
  body.home .argument__txt:nth-child(odd) {
    padding-left: 60px;
    padding-right: 40px;
    text-align: right; }
  body.home .argument__txt:nth-child(even) {
    padding-left: 40px;
    padding-right: 60px;
    text-align: left; }
  body.home .argument__txt--cta {
    font-weight: bold; }
    body.home .argument__txt--cta a {
      color: #cfb17e;
      text-decoration: underline;
      background: transparent;
      -moz-transition: background 0.4s ease;
      -o-transition: background 0.4s ease;
      -webkit-transition: background 0.4s ease;
      transition: background 0.4s ease; }
      body.home .argument__txt--cta a:hover {
        background: black;
        color: white;
        text-decoration: none;
        padding: 10px 15px; }

body.hostels .content {
  padding: 20px 0; }
  body.hostels .content--title {
    text-align: center; }
    body.hostels .content--title h2 {
      text-align: center;
      margin-top: 0;
      color: black;
      background-color: white;
      display: inline-block;
      padding: 0 20px;
      font-size: 34px;
      font-family: "Gotham-Black"; }
    body.hostels .content--title .title--line {
      height: 2px;
      background-color: black;
      margin-top: -55px;
      margin-bottom: 60px; }
  body.hostels .content h3 {
    background-color: black;
    color: #cfb17e;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Lato-Light"; }

body.hostels .prestations {
  background-color: #cfb17e;
  padding: 20px 0; }
  body.hostels .prestations--title {
    text-align: center; }
    body.hostels .prestations--title h2 {
      text-align: center;
      margin-top: 0;
      color: white;
      background-color: #cfb17e;
      display: inline-block;
      padding: 0 20px;
      font-size: 34px;
      font-family: "Gotham-Black"; }
    body.hostels .prestations--title .title--line {
      height: 2px;
      background-color: white;
      margin-top: -55px;
      margin-bottom: 60px; }

body.hostels .prestation__content {
  background-color: white;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  margin: -10px 0 20px; }
