h2 {
	font-family: $font-playfair-black;
	font-size: 34px;
}

.top-home {
	
	margin-top: $height-nav;
	min-height: 400px;
	background-size: cover;
	background-repeat: no-repeat;

	.title {

		text-align: center;
		padding-top: 60px;
		max-width: 600px;
		margin: 0 auto;

		h1 {
			color: white;
		    font-size: 2.5em;
		    margin: 0 auto;
		    text-shadow: 1px 1px 1px black;
		    text-transform: uppercase
		}
		

	}

	.baseline {

		width: 590px;
		margin: 0 auto;
		text-align: center;
		background-color: rgba(206, 177, 125, 0.7);

		h2 {		
			color: #FFF;
		}

	}

}

.services {
	
	background-color: $color-gold;
	padding: 20px 10px;
	text-align: center;

	&__title {

		@include h2_titleLine(white, $color-gold);

	}

	

	&__wrapper {
	  	text-align: justify;
	  	max-width: 900px;
	  	margin: 0 auto;

	  	&::after {
	  		content: '';
	  		width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
	  		display: inline-block;
		}
	}	

	

}

.service {

	width: 250px;
  	display: inline-block;
  	position: relative;

	&__title {
		background-color: white;

		h3 {
			margin: 0;
			text-align: center;
			color: $color-gold;
			font-weight: normal;
		    text-transform: uppercase;
		    font-size: 14px;
		    padding: 12px 0;
		}
	}

	&__img {

		position: relative;

		img {
			max-width: 100%;
		}

		&:hover {
			.service__img--more {
				border: 1px solid rgba(255, 255, 255, 1);
				background: rgba(255,255,255, 0.4);
			}

			.deco {
				opacity: 1;
				background: rgba(0,0,0,0.7);
				width: 100%;
				height: 100%;
			}
		}
		

		&--more {
			width: 100px;
			height: 100px;
			line-height: 100px;
			position: absolute;
			top: 50%;
			left: 50%;
			@include transform(translate(-50%, -50%));
			border: 1px solid rgba(255, 255, 255, 0);
			text-align: center;
			background: rgba(255,255,255, 0);
			@include transition(
				border 0.8s ease,
				background 0.3s ease
			);

			span {
				color: $color-gold;
				font-size: 60px;
			}
	
		}

		.deco {
			width: 0px;
			height: 0px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			position: absolute;
			border: 1px solid white;
			background: rgba(0,0,0,0);

			@include transition(
				background 0.6s ease,
				transform 1s ease,
				width 0.6s ease,
				height 0.6s ease
			);

		}

	}
}



.arguments {

	text-align: center;
	margin-bottom: 50px;
	padding: 20px 0;
	
	&__title {

		@include h2_titleLine(black, white);

	}

}

.argument {
	text-align: initial;
	max-width: 900px;
	margin: 0 auto;
	white-space: nowrap;

	&__txt, &__img {
		display: inline-block;
		width: 50%;
		vertical-align: top;
		white-space: normal;
	}

	&__img {
		height: 250px;
		background-size: cover;

		&:nth-child(odd) {
			margin-right: -2px;
		}
	}

	&__txt {

		&:nth-child(odd) {
			padding-left: 60px;
    		padding-right: 40px;
			text-align: right;
		}

		&:nth-child(even) {
    		padding-left: 40px;
			padding-right: 60px;
			text-align: left;
		}

		&--cta {
			font-weight: bold;

			a {
				color: $color-gold;
				text-decoration: underline;
				background: rgba(0,0,0,0);
				@include transition(background 0.4s ease);

				&:hover {
					background: rgba(0,0,0,1);
					color: white;
					text-decoration: none;
					padding: 10px 15px;
				}
			}
		}

	}
}