.content {

	padding: 20px 0;

	&--title {
		@include h2_titleLine(black, white);
	}

	h3 {
		background-color: black;
		color: $color-gold;
		height: 30px;
		line-height: 30px;
		text-align: center;
		text-transform: uppercase;
		font-family: $font-lato-light;
	}
}

.prestations {
	
	background-color: $color-gold;
	padding: 20px 0;

	&--title {
		@include h2_titleLine(white, $color-gold);
	}
}

.prestation {
	
	$height-content: 40px;
	&__content {
		background-color: white;
	    height: $height-content;
	    line-height: $height-content;
	    text-align: center;
	    text-transform: uppercase;
	    margin: -10px 0 20px
	}

}