/*=============================
=            PATHS            =
=============================*/

$image-url-path: "../img/" !default;
$font-url-path: "../fonts/" !default;


/*=============================
=            FONTS            =
=============================*/
$font-arial: "Arial";
$font-lato-regular: "Lato-Regular";
$font-lato-bold: "Lato-Bold";
$font-lato-light: "Lato-Light";
$font-gotham-medium: "Gotham-Medium";
$font-gotham-book: "Gotham-Book";
$font-gotham-bold: "Gotham-Bold";
$font-gotham-black: "Gotham-Black";
$font-weidf-icons: "weidf-icons";

$font-playfair: "PlayfairDisplay-Regular";
$font-playfair-black: "PlayfairDisplay-Black";

$default-font-size: 14px;

/*==============================
=            COLORS            =
==============================*/

$color-red: #dd1737;
$color-blue: #233160;
$color-grey: #ebecee;
//$color-dark-grey: #a9acba;

$color-dark-grey: #181819;
$color-gold: #cfb17e;


/*===================================
=            BREAKPOINTS            =
===================================*/

$breakpoint-tablet: 1023px;
$breakpoint-mobile: 767px;

/*===================================
=           VARIOUS VALUES          =
===================================*/

$height-nav: 90px;

